.item {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px 10px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 0px rgba(157, 157, 157, 0.5);
}
.item:not(:last-child) {
  margin-bottom: 8px;
}
.status {
  width: 20px;
  height: 20px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
}
.avatar {
  min-width: 80px;
}
.name {
  font-size: 26px;
  font-weight: 500;
}
.isOnline {
  background-color: green;
}
